<div class="double-pane-container">
    <div id="instructions-pane">
        <h1>Sign Up</h1>
        <div id="justify-text">
            <p>Please enter a valid email address and a password with numbers and letters that is more than 6 characters.</p>
        </div>
    </div>

    <div class="input-container">
        <h1>Symbol Checker</h1>
        <p>Email</p>
        <input type="text" [(ngModel)]="email">
        <p>Password</p>
        <input type="password" [(ngModel)]="password">
        <p>Confirm Password</p>
        <input type="password" [(ngModel)]="rePassword">
        <div *ngIf="!validCredentials">
                <p class="warning">You must enter the right credentials to sign up.</p>
        </div>
        <button (click)="secureSignUp()">Sign Up</button>
    </div>

</div>
<span (click)="redirectToHome()" id="back"><i class="fas fa-arrow-alt-circle-left"></i></span>