<div class="double-pane-container">
    <div id="instructions-pane">
        <h1>Sign Up</h1>
        <div id="justify-text">
            <p>Please enter a valid email address and a password with numbers and letters that is more than 6 characters.</p>
        </div>
    </div>

    <div class="input-container">
        <h1>Symbol Checker</h1>
        <p>Email</p>
        <input type="text" id="">
        <p>Password</p>
        <input type="text" id="">
        <p>Confirm Password</p>
        <input type="text" id="">
        <button>Sign Up</button>
    </div>
</div>