#instructions-pane {
    background-color: #004B67;
}

#instructions-pane > h1 {
    margin-top: 25%;
    text-align: center;
    font-size: 3em;
    color: #00B9FF;
}

#justify-text {
    margin-top: 5%;
    margin: auto;
    width: 50%;
}

#justify-text > p {
    text-align: center;
    font-size: 2em;
    color: #00B9FF;
}

.input-container {
    margin-top: 12%;
}

#back {
    position: absolute;
    bottom: 2.5%;
    right: 5%;
    display: flex;
    color: #00b9ff;
}

#back:hover {
    color: #a2e6ff;
    cursor: pointer;
}

#back > i {
    font-size: 4em;
}

#back > p {
    font-size: 2em;
    vertical-align: top;
}