<div *ngIf="isLoaded && isStockValid" class="double-pane-container">
    <div class="stock-info">
        <h1>{{ stock.companyName }}</h1>
        <h1>{{ stock.symbol }}</h1>
        <div id="stock-details">
            <h1>P/E Ratio: {{ stock.peRatio }}</h1>
            <h1>Market Cap: {{ stock.marketCap | shortNumber }}</h1>
            <h1>Volume: {{ stock.latestVolume | shortNumber }}</h1>
            <h1>YTD Change: {{ stock.ytdChange | percent }}</h1>
            <h1>52 Week High: {{ stock.week52High }}</h1>
            <h1>52 Week Low: {{ stock.week52Low }}</h1>
        </div>
        <span (click)="redirectToDashboard()" id="back"><i class="fas fa-arrow-alt-circle-left"></i></span>
    </div>

    <div class="stock-graph">
        <div id="stock-prices">
            <h2>Lo {{ stock.low }}</h2>
            <h1>{{ stock.latestPrice }}</h1>
            <h2>Hi {{ stock.high }}</h2>
        </div>
        <div>
            <canvas id="myChart"></canvas>
            <div id="button-container">
                <button (click)="updateChart('5d')">5 Days</button>
                <button (click)="updateChart('1m')">1 Month</button>
                <button (click)="updateChart('3m')">3 Month</button>
            </div>
        </div>
    </div>

</div>

<div *ngIf="!isStockValid">
    <h1 class="warning">Sorry, there was an error finding your stock.</h1>
    <span (click)="redirectToDashboard()" id="back"><i class="fas fa-arrow-alt-circle-left"></i></span>
</div>